
.login{
	h2{
		color: #d84315;
		margin-bottom: 0px;
		font-weight: bold;
		margin-left: -2px;

		span{
			font-weight: 100;
			color: #616161;
		}
	}
	blockquote{
		margin-top: 0px;

		padding-left: 0.9rem;
		border-left-color: #d84315;
	}
}
.login-form{

	padding-top: 7px;

	ul.tabs{
		background-color: transparent;

		li.tab{
			background-color: transparent;

			a{
				color: #e57373;
			}
			a.active{
				color: #dd2c00;
			}

		}
		div.indicator{
			background-color: #dd2c00;
		}
	}
	input{
		margin-bottom: 4px;
	}

	.input-field .prefix, .input-field input + label{
		color: #616161;
	}
	input{
		border-bottom-color: #616161;
	}

	.input-field input{
		font-size: 2em;
	}

	.input-field .active{
		color: #dd2c00;
	}
	.input-field input:focus + label{
		color: #dd2c00;
	}
	input:focus{
		border-bottom-color: #dd2c00;
		box-shadow: 0 1px 0 0 #dd2c00;
	}
	.logBtn{
		text-align: right;
		margin: 20px;
	}
}

